/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Color de texto predeterminado */
}

/* HEADER */
header {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img.logo {
  height: 100px;
}

header .contact-info {
  display: flex;
  align-items: center;
}

header .phone {
  margin-right: 20px;
}

.phone a {
  color: white;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Secciones de contenido */
.content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.presentacion,
.publicaciones-recientes {
  width: 100%;
}

.ultimas-noticias {
  width: 30%;
  border-left: 5px solid darkblue;
  padding-left: 20px;
}

/* Estilos para las secciones */
.presentacion img {
  max-width: 100%;
  height: auto;
}

.news-ticker {
  overflow: hidden;
  width: 100%; /* Ajuste para ocupar el ancho completo */
  white-space: nowrap;
}

.news-ticker ul {
  list-style: none;
  animation: ticker 35s linear infinite;
}

.news-ticker li {
  display: inline-block;
  margin-right: 20px;
}

@keyframes ticker {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.publicaciones-recientes h3,
.ultimas-noticias h3 {
  margin-top: 0;
}

/* Ajustes para centrar 'Publicaciones Recientes' */
.content {
  align-items: center; /* Centra los elementos hijos horizontalmente */
}

.publicaciones-recientes {
  padding: 0 30px; /* Ajuste del padding para dispositivos móviles, evita que toque los bordes */
}

/* Pie de página */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}

/* Estilo del menú NAV */
.navbar {
  overflow: hidden;
  background-color: #004080; /* Color de fondo */
  text-align: center; /* Centrado horizontal */
}

/* Estilo de los enlaces del menú y botones desplegables */
.navbar a, .navbar .dropbtn {
  color: black; /* Color del texto */
  text-decoration: none; /* Sin subrayado en los enlaces */
  padding: 3px 15px; /* Relleno a los lados de los enlaces */
  display: inline-block; /* Los elementos se muestran en línea y centrados */
}

/* Estilo del contenedor desplegable */
.dropdown {
  display: inline-block;
  overflow: hidden;
}

/* Estilo del contenido desplegable (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los enlaces del contenido desplegable */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Cambio de color de los enlaces al pasar el mouse */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar el menú desplegable al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Icono redes sociales*/
.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.7;
}


/* Estilos para dispositivos móviles */
/* Estilos para tablet en posición vertical */
@media (max-width: 1024px) {
  .container {
    padding: 20px 40px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para tablet en posición horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  .container {
    padding: 20px 60px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para teléfono en posición vertical */
@media (max-width: 480px) and (orientation: portrait) {
  .container {
    padding: 20px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para teléfono en posición horizontal */
@media (max-width: 320px) and (orientation: landscape) {
  .container {
    padding: 20px 40px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para tablet en posición vertical */
@media (max-width: 1024px) {
  .container {
    padding: 20px 40px;
  }
}

/* Estilos para tablet en posición horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  .container {
    padding: 20px 60px;
  }
}

/* Estilos para teléfono en posición vertical */
@media (max-width: 480px) and (orientation: portrait) {
  .container {
    padding: 20px;
  }
}

/* Estilos para teléfono en posición horizontal */
@media (max-width: 320px) and (orientation: landscape) {
  .container {
    padding: 20px 40px;
  }
}
