/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Color de texto predeterminado */
}

/* -- INDEX -- */
/* HEADER */
header {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  color: white;
    font-size: 2.2em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #003366;
    border-radius: 5px;
    padding: 0 10px;
    font-family: "Lora", serif;
    font-weight: 400;
}
header h1:hover{
    color: #003366;
    background: white;
    transition: 1s
}
header img.logo {
  height: 100px;
}

header .contact-info {
  display: flex;
  align-items: center;
}

header .phone {
  margin-right: 20px;
}

.phone a {
  color: white;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Secciones de contenido */
.content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.presentacion,
.publicaciones-recientes {
  width: 100%;
}

.ultimas-noticias {
  width: 30%;
  border-left: 5px solid darkblue;
  padding-left: 20px;
}

/* Estilos para las secciones */
.presentacion img {
  max-width: 100%;
  height: auto;
}

.news-ticker {
  overflow: hidden;
  width: 100%; /* Ajuste para ocupar el ancho completo */
  white-space: nowrap;
}

.news-ticker ul {
  list-style: none;
  animation: ticker 35s linear infinite;
}

.news-ticker li {
  display: inline-block;
  margin-right: 20px;
}

@keyframes ticker {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}



/* Ajustes para centrar 'Publicaciones Recientes' */
.publicaciones-recientes h3,
.ultimas-noticias h3 {
  margin-top: 0;
}

.content {
  align-items: center; /* Centra los elementos hijos horizontalmente */
}

.publicaciones-recientes {
  padding: 0 30px; /* Ajuste del padding para dispositivos móviles, evita que toque los bordes */
}

/* Pie de página */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}

/* Estilo del menú NAV */
.navbar {
  overflow: hidden;
  background-color: #004080; /* Color de fondo */
  text-align: center; /* Centrado horizontal */
}

/* Estilo de los enlaces del menú y botones desplegables */
.navbar a, .navbar .dropbtn {
  color: black; /* Color del texto */
  text-decoration: none; /* Sin subrayado en los enlaces */
  padding: 3px 15px; /* Relleno a los lados de los enlaces */
  display: inline-block; /* Los elementos se muestran en línea y centrados */
}

/* Estilo del contenedor desplegable */
.dropdown {
  display: inline-block;
  overflow: hidden;
}

/* Estilo del contenido desplegable (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los enlaces del contenido desplegable */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Cambio de color de los enlaces al pasar el mouse */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar el menú desplegable al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Icono redes sociales*/
.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.7;
}


/* -- Noticias  -- */
/* -- Noticias  -- */
/* -- Noticias  -- */
/* -- Noticias  -- */
/* -- Noticias  -- */
/* -- Noticias  -- */

/* -- Historia  -- */
.tituloh{
  background: darkblue;
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  padding: 0 100px ;
  display: flex;
  align-items: center;
  margin-bottom: 0px;  
}
.tituloh h1{
  position: relative;
  font-size: 2em;
  line-height: 1;
  color:white;
  font-family: "Lora", serif;
  font-weight: 5px;
  margin-bottom: 30px;
  text-align: center;
  align-content: center;
}
.contenidoh{
  background: skyblue;
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  padding: 0 100px ;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: -40px;
}
.contenidoh p{
  font-size: 1em;
  line-height: 1.5;
  color:navy;
  font-family: "Lora", serif;
  font-weight: 11px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* -- PAGINA NOSOTROS -- */
/* Estilos CSS para ajustar la apariencia de los perfiles */
.people-table {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse; /* Colapsar los bordes de la tabla */
}

.people-table td {
  padding: 20px; /* Espaciado interno de las celdas */
  border: none; /* Sin bordes */
  text-align: center; /* Centrar el contenido */
}

.people-table img {
  max-width: 200px; /* Ancho máximo para las imágenes */
  height: auto; /* Altura automática */
}

.people-table h2 {
  margin-bottom: 10px; /* Ajustar espacio entre el título y el texto */
}

.people-table p {
  margin-bottom: 10px; /* Ajustar espacio entre el texto y los iconos */
  text-align: justify; /* Justificar el texto */
}

/* Estilos específicos para la página "nosotros.html" */
.nosotros-page .social-icons a {
  color: #0077B5; /* Color azul de LinkedIn */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .person img {
      max-width: 80%; /* Reducir el tamaño de las imágenes en dispositivos móviles */
  }

  .person p {
      max-width: 90%; /* Reducir el ancho máximo del texto en dispositivos móviles */
  }
}


/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */
/* -- Visión  -- */


/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */
/* -- Publicaciones  -- */

.body_desarrollo{
  background-color: #191919;
  color: white;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.titulo {
  margin: 0;
}

/* Estilos para la sección */
.section {
  padding: 20px;
}

/* Estilos para el artículo */
.article {
  margin-bottom: 20px;
  
  padding: 20px;
  border-radius: 5px;

}

.article-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.article-titulo {
  margin: 0;
  color: whitesmoke;

}

.article-texto {
  color: white;
}

.div_article_texto{
  text-align: center;
  padding: 2px;
  width: 50%;
}
.div_article_texto:hover{
  border: 2px solid white;
  background-color: darkblue;
  border-radius: 30px;
}
.imagen_concep{
  width: 350px;
  height: 250px;
  border-radius: 30px;
  margin-left: 150px;
}
#elemento1{
  display: inline-block;
  margin-top: 20px;
}
.etapa_diseno{
  padding-right: 180px;
}

/* Estilos para el pie de página */
.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-texto {
  margin: 0;
}
.div_logos{
  display: inline-block;
}
.logo_tec{
  width: 150px;
  height: 150px;
  display: inline-block;
}
.logo_tec:hover{
  background-color: #02ff85;
  width: 200px;
  height: 200px;
}
.logo_tec:active{
  background-color: red;

}
/* -- Desarrollo  -- */
/* -- Desarrollo  -- */
/* -- Desarrollo  -- */
/* -- Desarrollo  -- */
/* -- Desarrollo  -- */
/* -- Desarrollo  -- */
/* -- Desarrollo  -- */

/* -- Soporte  -- */
/* -- Soporte  -- */
/* -- Soporte  -- */
/* -- Soporte  -- */
/* -- Soporte  -- */
/* -- Soporte  -- */
/* -- Soporte  -- */
/* -- Soporte  -- */


/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
/* -- Localización  -- */
.body_contacto {
  background-color: beige;
}
.contacta_con {
  color: navy;
  text-align: center;
  font-size: 50px;
}
.contacta_con:hover{
  background-color: navy;
  color: whitesmoke;
  display: inline-block;
  text-align: center;
  font-size: 52px;
}
.div_contacta_con{
  max-width: 600px;
  padding: 10px;
}
.descripcion_contacto:hover{
  font-size: 20px;
  color: whitesmoke;
  display: inline-block;
  text-align: center;
  background-color: navy;
}
.div_descripcion{
max-width: 800px;
}
.descripcion_contacto {
  color: navy;
  text-align: center;
  font-size: 15px;
}
.form_parte_datos {
  width: 50%; /* Ancho del formulario */
  margin: 0 auto; /* Centrado horizontal */
  background-color: #004080; /* Color de fondo dark blue */
  padding: 10px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  color: white; /* Color de texto blanco */
}

/* Estilos para las etiquetas de los campos */
.formulario_contacto {
  color: lightgreen;
  font-size: 20px;
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid navy;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para los campos de selección */
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid navy;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #004080;
  color: white;
}

/* Estilos para el botón de envío */
input[type="submit"],
input[type="reset"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
  color: navy;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para el contenedor de la consulta */
.consulta_f1 {
  width: 100%; /* Ancho del formulario */
  margin: 0 auto; /* Centrado horizontal */
  background-color: #004080; /* Color de fondo dark blue */
  padding: 10px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  color: white; /* Color de texto blanco */

}
/* Estilos para el contenedor principal del formulario */
.container_principal_f1 {
  width: 50%; /* Abarca todo el ancho disponible */
  background-color: #003366; /* Color de fondo navy */
  padding: 20px; /* Espacio interno */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  color: white; /* Color de texto blanco */
  border-radius: 20px;
}

/* Estilos para el contenedor del formulario */
.f_parte_datosb {
  width: 50%; /* Ancho del formulario */
  margin: 0 auto; /* Centrado horizontal */
  background-color: #004080; /* Color de fondo dark blue */
  padding: 10px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  color: white; /* Color de texto blanco */
}
.direccion_f1 {
  width: 50%; /* Ancho del formulario */
  margin: 0 auto; /* Centrado horizontal */
  background-color: #004080; /* Color de fondo dark blue */
  padding: 10px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  color: beige;
}
.direccion_f1_1{
  color: lightgreen;
  font-size: 20px;
}
.consulta_f1_1{
  color: lightgreen;
  font-size: 20px;
}
.boton_enviar {width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 60px;
  background-color: green;
  color: navy;
  font-weight: bold;
  cursor: pointer;
}
.boton_enviar:hover{
  background-color: #02ff85;
  color: black;
  font-weight: lighter;
}
.boton_enviar:active{
  background-color: red;
  color: whitesmoke;
  font-weight: bold;
}

/* -- Contacto  -- */
/* -- Contacto  -- */
/* -- Contacto  -- */
/* -- Contacto  -- */
/* -- Contacto  -- */
/* -- Contacto  -- */
/* -- Contacto  -- */
/* -- Contacto  -- */


/* Estilos para dispositivos móviles General */
/* Estilos para tablet en posición vertical */
@media (max-width: 1024px) {
  .container {
    padding: 20px 40px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para tablet en posición horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  .container {
    padding: 20px 60px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para teléfono en posición vertical */
@media (max-width: 480px) and (orientation: portrait) {
  .container {
    padding: 20px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para teléfono en posición horizontal */
@media (max-width: 320px) and (orientation: landscape) {
  .container {
    padding: 20px 40px;
    min-height: auto; /* Restablecer altura mínima */
  }
}

/* Estilos para tablet en posición vertical */
@media (max-width: 1024px) {
  .container {
    padding: 20px 40px;
  }
}

/* Estilos para tablet en posición horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  .container {
    padding: 20px 60px;
  }
}

/* Estilos para teléfono en posición vertical */
@media (max-width: 480px) and (orientation: portrait) {
  .container {
    padding: 20px;
  }
}

/* Estilos para teléfono en posición horizontal */
@media (max-width: 320px) and (orientation: landscape) {
  .container {
    padding: 20px 40px;
  }
}
